<% provide(:title, 'Friday/Sunday') %>


<h4> Friday</h4>
<div class = "row">
  <div class = "span4">
    <p>The sidebar of the Bennets pub (the 'Skean Dhu') has been reserved from 7pm, for all those wanting to meet up the night before. <p>
    <p> Anyone interested in playing golf on the Friday morning please give me (Jay) a shout on 07956983252, or email rachaelandjaywedding@gmail.com. Thinking of playing around 10am.</p>

  </div>
  <div class = "span4">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=bennets+edinburgh&amp;aq=&amp;sll=55.945259,-3.190842&amp;sspn=0.026003,0.078106&amp;ie=UTF8&amp;hq=bennets&amp;hnear=Edinburgh,+City+of+Edinburgh,+United+Kingdom&amp;t=m&amp;ll=55.948815,-3.201656&amp;spn=0.016821,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=bennets+edinburgh&amp;aq=&amp;sll=55.945259,-3.190842&amp;sspn=0.026003,0.078106&amp;ie=UTF8&amp;hq=bennets&amp;hnear=Edinburgh,+City+of+Edinburgh,+United+Kingdom&amp;t=m&amp;ll=55.948815,-3.201656&amp;spn=0.016821,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
</div>
<h4> Sunday</h4>
    <p> For those who are around on the Sunday, please come round to Jill and Udesh's house from 2pm for food and drinks. <p>
      <address>
        6 Merchiston Park<br>
        Ediburgh<br>
        EH104PN<br>
      </address>


