<% provide(:title, 'Gift List') %>

<p>
Your presence at our wedding is gift enough.  However, if you do wish to buy us a gift, it would be very much appreciated and we thank you for your kindness.
</p>

<p> List Number: 563681 </p>
<a href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp"> Link to Gift List </a>