<% provide(:title, 'Venue') %>

<div class = "row">
	<div class = "span9">
	<h2> Assembly Rooms, 54 George Street, Edinburgh </h2>	
	</div>
</div>
<div class = "row">
	<div class = "span4">
		<%#= image_tag("ballroom.jpg", :size => "500x300") %>
		<%= image_tag("aroomspic.jpg", :size => "500x300") %>
	</div>

	<div class = "span5">
		
		<h5> Ceremony Start: 2:30pm </h5>
		<h5> Dinner: ~ 5:30pm </h5>
		<h5> Band/Evening Guests: 8:00pm </h5>
		<br>
		<p> With both our familys and many of our friends living in Edinburgh we decided  </p>

	</div>
</div>
