@import "bootstrap";
@import "bootstrap-responsive";
/*body {background-image:url('bground2.jpg');}*/
/*body {background-color: #F7F4BE;}*/

.hero-unit {
  /*background-image:url('weddingback2.jpg');*/
  /*background-image:url('bground2.jpg');*/
  /*background-color: #FAF4C5;*/
  background-color: #FCF9DC;
  /*background-image:url('ivory.jpg');*/

}

a:link {color:#A57CCF;} 
a:visited {color:#A57CCF;} 

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  /*background: #ffffdd;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/*h2 {
  font-family: Georgia;
}*/
small {
 font-family: Georgia; 
 font-size:1em;
 color: #A57CCF;
}

.head {
  font-size: 2.2em;
  font-family: Georgia;
  font-variant: small-caps
}


h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  /*color: #999;*/
  color: #A57CCF;
}

p {

  font-size: 1.1em;
  line-height: 1.7em;
}